<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>공지 수정</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="form-container">
        <h1>새 공지 작성</h1>
        <form th:action="@{'/notice/' + ${notice.id} + '/edit'}" th:object="${notice}" method="post">
            <input type="text" th:field="*{title}" placeholder="제목" required><br>
            <textarea th:field="*{content}" placeholder="내용" rows="10" cols="50" required></textarea><br>
            <button type="submit">수정 완료</button>
        </form>
        <a th:href="@{'/notice/' + ${notice.id}}" class="back-link">← 돌아가기</a>
    </div>
</body>

</html>