<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>공지사항 목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="list-container">
        <h1>공지사항</h1>
        <ul>
            <li th:each="n : ${notices}" class="notice-item">
                <a th:href="@{'/notice/' + ${n.id}}" th:text="${n.title}">제목</a>
                <span class="notice-date" th:text="${#temporals.format(n.createdAt, 'yyyy-MM-dd')}"></span>
            </li>
        </ul>
        <a th:href="@{/notice/new}" class="new-btn">➕ 새 공지 작성</a>
        <a th:href="@{/}" class="back-link">← 홈으로</a>
    </div>
</body>

</html>